<!DOCTYPE html>
<html lang="cs">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Trativod</title>

<link rel="stylesheet" href="/static/style.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body data-remaining="{{ remaining_seconds }}">

<h1>Trativod</h1>

<h2>Aktuální hladina</h2>

<div id="levelValue" class="value">
    {{ level_cm }} cm
</div>

<h2>Historie</h2>

<div class="range-buttons">
    <button onclick="loadHistory('1h')">1h</button>
    <button onclick="loadHistory('24h')">24h</button>
    <button onclick="loadHistory('3d')">3d</button>
    <button onclick="loadHistory('1w')">1w</button>
    <button onclick="loadHistory('1m')">1m</button>
</div>

<div class="chart-container">
    <canvas id="historyChart"></canvas>
</div>

<h2>Čerpadlo</h2>

<div id="pumpStatus" class="status">
{% if pump_state == "ON" %}
🔴 ZAPNUTO
{% else %}
🟢 VYPNUTO
{% endif %}
</div>

<button id="pumpButton" type="button">

{% if pump_state == "ON" %}
Vypnout
{% else %}
Zapnout čerpadlo
{% endif %}

</button>

<br><br>

<h2>Režim</h2>

<div id="autoStatus" class="status">

{% if auto_mode == "1" %}
🟢 AUTO
{% else %}
⚪ MANUAL
{% endif %}

</div>

<a href="/auto/toggle">
<button>
AUTO ON/OFF
</button>
</a>

<script src="/static/chart.js"></script>
<script src="/static/status.js"></script>
<script src="/static/countdown.js"></script>
<script src="/static/app.js"></script>

</body>

</html>
